*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC13D;
}

.container {
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
}

input {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    border: none;
    outline: none;
}

i {
    width: 30px;
    cursor: pointer;
}

