@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #BBD6FD;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 60px;
    border-radius: 10px;
    background-color: #ECF0FD;
    box-shadow: 0 30px 50px rgba(23, 176, 197,0.2);
}

.title {
    color: #91A0DB;
    text-align: center;
    margin-bottom: 30px;
}

.timer {
    position: relative;
    width: 600px;
    left: -100px;
    padding: 20px 0;
    background-color: #FFF;
    color: #91A0DB;
    font-size: 40px;
    font-family: monospace;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons {
    width: 80%;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

button {
    border:none;
    outline: none;
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    background-color: #6579CB;
    cursor: pointer;
}

button:nth-child(2){
    background-color: #57A0f4;
}