@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5090F1;
}

.container {
    position: relative;
    width: 480px;
    height: 90px;
    transition: 0.5s ease-out;
    background-color: rgba(255, 255,255,0.25);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(4px);
    -webkite-backdrop-filter: blur(4px);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.18);
}

.search-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
}

i {
    color: #fff;
}

input {
    width: 80%;
    padding: 0 30px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
}

input::placeholder {
    color: #C8DFF1;
}

button {
    padding: 2px 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #fff;
    color: #617EBA;
    cursor: pointer;
}

.information i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.temp {
    position: relative;
    color: #617EBA;
    font-size: 50px;
    font-weight: 600;
    margin: 30px 0 0 -15px;
    text-align: center;
}

.temp span {
    position: absolute;
    margin-left: 5px;
    font-size: 20px;
}

.description {
    font-size: 18px;
    color: #617EBA;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}

.weather {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidty,
.wind {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
    color: #fff;
}

.humidty {
    padding-left: 20px;
    justify-content: flex-start;
}

.wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather i {
    margin-right: 10px;
}

.weather span {
    font-size: 15px;
    font-weight: 500;
}

.weather p {
    font-size: 12px;
    font-weight: 500;
    color: #617EBA;
}

.invalid {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}


.invalid p {
    margin-top: 20px;
    color: #fff;
}


.information, 
.weather {
    scale: 0;
    opacity: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}