@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: #fff;
    border: 1px dashed blue;
    border-radius: 10px;
    padding: 60px 30px;
    color: blue;
    font-weight: 600;
    display: grid;
    justify-content: center;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

label {
    font-size: 30px;
}

input[type="range"] {
    width: 100%;
}

.color {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

input[type="text"], button {
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
}

input[type="text"]{
    background-color: #F0F0F0;
    padding: 15px 8px;
}

button {
    background-color: blue;
    color: #fff;
    font-weight: 600;
    padding: 0 10px;
    cursor: pointer;
}